# Lütfen bu dosyayı kopyalayarak ".env" adında yeni bir dosya oluşturun.
# AWS IAM Management Console'dan alacağınız verileri buraya yapıştırın.

AWS_ACCESS_KEY_ID=BURAYA_ACCESS_KEY_YAZIN
AWS_SECRET_ACCESS_KEY=BURAYA_SECRET_KEY_YAZIN
AWS_REGION=us-east-1

PORT=8080
